@import "tailwindcss";

:root{
  --color-primary: #141515;
  --color-secondary: #FEFBFC;
  --color-accent: #292A28;
}

@theme{
  --color-primary: #141515;
  --color-secondary: #FEFBFC;
  --color-accent: #292A28;
}

*{
  scroll-behavior: smooth;
}

body{
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

div{
  scroll-margin-top: 50px;
}